<!-- <div class="row">
    <div class="col-lg-12">
        <h4>Buy our stuff!</h4>
    </div>
</div> -->
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="img/button-pack.jpg" alt="">
            <div class="caption">
                <h3>Button/Sticker Pack ($5)</h3>
                <p>Look how cute! Includes 2 stickers and 2 buttons.</p>
                <p>
                    <a href="#/store" class="btn btn-primary">add to cart</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="img/gift-card.png" alt="">
            <div class="caption">
                <h3>Gift Card ($20+)</h3>
                <p>Biscuit Baby gift card! Available in $20 increments.</p>
                <p>
                    <a href="#/store" class="btn btn-primary">add to cart</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="img/t-shirt.png" alt="">
            <div class="caption">
                <h3>T-Shirt ($15)</h3>
                <p>Biscuit Baby t-shirt. Available in small, medium and large.</p>
                <p>
                    <a href="#/store" class="btn btn-primary">add to cart</a>
                </p>
            </div>
        </div>
    </div>

    <button onclick="location.href = '#/cart';" class="btn btn-danger btn-lg" aria-label="Left Align">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </button>

</div>
