<div class="container container-2">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <img class="img-responsive img-full" src="img/cover.png" alt="The Breakfast Sandwich - Biscuit Baby">
                <h3 class="address-bar-2"><strong>370 South 300 East Salt Lake City, UT</strong></h3>
                <hr class="tagline-divider">
                <!-- <h3><small><strong>Salt Lake City, UT</strong></small></h3> -->
                <!-- <h2 class="brand-before">
                        <small>Hours</small>
                    </h2> -->
                <!-- <h1 class="brand-name">BISCUIT BABY</h1> -->
                <!-- <hr class="tagline-divider"> -->
                <h3 class="address-bar-2"><strong>Mon-Fri 9AM - 4PM</strong></h3>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <!-- <a id="menu"></a> -->
            <!-- <div class="col-lg-12">
                    <hr>
                    <h2 class="text-center">
                        <strong>Menu</strong>
                    </h2>
                    <hr>
                </div> -->
            <img class="img-responsive img-border" src="img/menu.png" alt="">
            <!-- <hr class="visible-xs"> -->
            <div class="menu-container-text">
                <p>Need help with an event? Awesome! Check out our <a href="#/catering"><strong>catering menu</strong></a>.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12 about-box">
                <!-- <hr>
                    <h2 class="text-center">about us</h2>
                    <hr> -->
                <img class="img-responsive img-border img-left" src="img/intro-pic.png" alt="">
                <hr class="visible-xs">
                <p><strong>Try the best biscuits in town!</strong> Covered in our house-made jam and brown gravy like mom used to make. But that's not all you can get on our fresh biscuits. Our menu includes inventive sandwiches and desserts too!</p>

                <p>Biscuit Baby will be open for our customers to dine-in for breakfast and lunch. Come pick up one of our to-go lunch picnic packs from our to-go window or stop by one of our monthly events and enjoy a late night meal and some entertainment.</p>

                <p>Our new twists on old favorites will delight foodies of all ages. Come try a biscuit with your friends, family or meet someone new at karaoke night! Biscuit Baby will feed your need for biscuits and hopes to become a place for the people
                    of our community to come together.</p>
                <!-- <hr class="visible-xs"> -->
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
